/*
 * The whole widget
 */
#tieto-widget {
  margin-top: .2rem;
  background-color: var(--secondary-light-color);
}

#tieto-widget a > img {
  height: auto;
  width: 99%;
}

#tieto-widget > a {
  display: none;
}

#tieto-widget .glyphicon-chevron-left, #tieto-widget .glyphicon-chevron-right {
  color: #83cfc8;
  cursor: pointer;
  font-size: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

#tieto-widget .glyphicon-chevron-left {
  left: 2px;
  z-index: 1041;
}

#tieto-widget .glyphicon-chevron-right {
  right: 2px;
}

#tieto-widget > a:first-child {
  display: inline;
}

#tieto-widget .slick-dots {
  bottom: 2px;
}

#tieto-widget .slick-dots > li {
  margin: 0 2px;
}

#tieto-widget .slick-dots > li > button::before {
  color: #83cfc8;
  font-size: 20px;
  opacity: 0.5;
}

#tieto-widget .slick-dots > li.slick-active > button::before  {
  color: #83cfc8;
  opacity: 1;
}

.panel-heading {
  height: 40px;
}

.panel-heading > a.versal {
  float: right;
}

.panel-heading > .versal > .glyphicon {
  color: #83cfc8;
}
  
.panel-heading .glyphicon-info-sign {
  color: #83cfc8;
  font-size: 18px;
}

#headingTieto > .accordion-button {
  color: var(--black-color);
  background-color: var(--white-color);
  border-bottom: 1px solid var(--secondary-medium-color);
}

.panel-heading > a.legend {
  display: inline-block;
  float:left;
}

.twitter-typeahead > .clear-search {
    z-index: 1040;
}

.mfp-iframe-holder .mfp-content {
  max-height: 99% !important;
  max-width: 99% !important;
}

.mfp-content > .mfp-figure::after, .mfp-iframe-scaler > .mfp-iframe {
  background: #fff none repeat scroll 0 0;
}

#tieto-widget > .panel {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

#collapseTieto {
  margin-top: 10px;
}

#collapseTieto > .legend {
  width: 80%; 
  margin-left: 10%;
  display: none;
}

#collapseTieto > .panel-body {
  padding-top: 0; 
}

/* .carousel-control-prev, .carousel-control-next {
  z-index: 1000;
} */

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  /* position: absolute; */
  width: 20px;
  height: 20px;
  /* transform: translate(-50%, -50%) */
  /* border-radius: 50%; */
}

/* .carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(1);
} */

#tietoCarouselButton {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 10px;
  height: 10px;
}