/*
 * The whole widget
 */
#tieto-widget {
  margin-top: .2rem;
  background-color: var(--white-color);
}

#tieto-widget a > img {
  height: auto;
  width: 99%;
}

#tieto-widget > a {
  display: none;
}

#heading-tieto {
  font-size: 16px;
}

#heading-tieto .accordion-button {
  background-color: var(--white-color);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--dark-color);
  margin-top: .2rem;
}

#tieto-widget > .panel {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

#collapseTieto {
  margin-top: 10px;
}

#tietolegend {
  width: 80%; 
  margin-left: 10%;
  padding-bottom: 0.5rem;
  padding-bottom: 1.5rem;
}

#collapseTieto > .panel-body {
  padding-top: 0; 
}

#tietoImages > .carousel-control-prev {
  background-color: var(--dark-color);
  width: 30px;
  height: 30px;
  margin-left: 1%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#tietoImages > .carousel-control-next {
  background-color: var(--dark-color);
  width: 30px;
  height: 30px;
  margin-right: 1%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#tieto-carousel-button {
  background-color: var(--dark-color);
  justify-content: center;
  z-index: 1000;
  width: 1rem;
  height: 1rem;
}

#tieto-carousel {
  position: static;
  align-items: center;
  background-color: var(--white-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
